---
import config from "@/config/config.json";
import dateFormat from "@/lib/utils/dateFormat";
import { humanize, plainify, slugify } from "@/lib/utils/textConverter";
import { FaRegClock, FaRegFolder, FaRegUserCircle } from "react-icons/fa";
import ImageMod from "./ImageMod.astro";

const {
  summary_length,
  blog_folder,
}: { summary_length: number; blog_folder: string } = config.settings;
const { base_path } = config.site
const { data } = Astro.props;
const { title, image, date, author, categories } = data.data;
---

<a href={`${base_path}/${blog_folder}/${data.id}`}>
  <div class="blog-card bg-body dark:bg-darkmode-body">


    {image && (
      <ImageMod
        class="w-full rounded object-cover object-center"
        src={image}
        alt={title}
        width={445}
        height={230}
        format="webp"
      />
      )}

    <div class="mt-2 px-2 py-2">
      <h4 class="mb-3">
        {title}
      </h4>

      <!-- TODO: Make the text grey for the date -->
      <div class="mb-2">
        <FaRegClock className={"mr-2 -mt-1 inline-block"} />
        {dateFormat(date)}
      </div>

      <!-- TODO: Make the body length EVEN for any given entry -->
      <p>
        {plainify(data.body?.slice(0, Number(summary_length)))}
      </p>
    </div>
    
  </div>
</a>
