---
import BlogCard from "@/components/BlogCard.astro";
import Pagination from "@/components/Pagination.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getListPage, getSinglePage } from "@/lib/contentParser.astro";
import {getTaxonomy } from "@/lib/taxonomyParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import PageHeader from "@/partials/PageHeader.astro";

const BLOG_FOLDER = "posts";
const { base_path } = config.site;

const postIndex = await getListPage(BLOG_FOLDER, "-index");
if (postIndex.data.draft) {
  return Astro.redirect("/404");
}
const posts = await getSinglePage(BLOG_FOLDER);
const tags = await getTaxonomy(BLOG_FOLDER, "tags");
const sortedPosts = sortByDate(posts);
const totalPages: number = Math.ceil(posts.length / config.settings.pagination);
const currentPosts = sortedPosts; // .slice(0, config.settings.pagination);
---

<Base
  title={postIndex.data.title}
  meta_title={postIndex.data.meta_title}
  image={postIndex.data.image}
  description={postIndex.data.description}
>
  <PageHeader title={postIndex?.data.title} />
  <section class="section container grow">

    <div class="mx-auto lg:col-7 md:col-9 mb-8 text-center">
      <div class="row">
        {
          currentPosts.map((post) => (
            <div class="mb-14 md:col-6">
              <BlogCard data={post} />
            </div>
          ))
        }
      </div>
    </div>
  </section>
</Base>
