---
import BlogCard from "@/components/BlogCard.astro";
import Share from "@/components/Share.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import dateFormat from "@/lib/utils/dateFormat";
import similarItems from "@/lib/utils/similarItems";
import { humanize, markdownify, slugify } from "@/lib/utils/textConverter";
import { render } from "astro:content";
import { FaRegClock, FaRegFolder, FaRegUserCircle } from "react-icons/fa";
import ImageMod from "./components/ImageMod.astro";

const COLLECTION_FOLDER = "posts";
const { post } = Astro.props;

const posts = await getSinglePage(COLLECTION_FOLDER);
const similarPosts = similarItems(post, posts);
const { Content } = await render(post);
const { title, description, author, categories, image, date, tags } = post.data;
---

<section class="section container grow">
  <div class="mx-auto lg:col-7 md:col-9 mb-8 text-left">
    <article>
      {
        image && (
          <div class="mb-10">
            <ImageMod
              src={image}
              height={500}
              width={1200}
              alt={title}
              class="w-full rounded"
              format="webp"
            />
          </div>
        )
      }
      <h1 set:html={markdownify(title)} class="h2 mb-4" />
      <ul class="mb-4">
        <li class="mr-4 inline-block">
          <FaRegFolder className={"mr-2 -mt-1 inline-block"} />
          {
            categories.map((category: string, index: number) => (
              <a href={`/categories/${slugify(category)}`}>
                {humanize(category)}
                {index !== categories.length - 1 && ","}
              </a>
            ))
          }
        </li>
        <li class="mr-4 inline-block">
          <FaRegClock className={"mr-2 -mt-1 inline-block"} />
          {dateFormat(date)}
        </li>
      </ul>
      <div class="content mb-10">
        <Content />
      </div>
    </article>
  </div>
</section>
